{
	"semi": true,
	"arrowParens": "always",
	"singleQuote": false,
	"vueIndentScriptAndStyle": true,
	"bracketSpacing": false,
	"endOfLine": "lf",
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 4
}
