// $carousel-arrow-background: #080808;
// $carousel-arrow-color: #00ffff;

// $carousel-indicator-background: #080808;
// $carousel-indicator-color: #00ffff;

$modal-background-background-color: rgba(8, 8, 8, 0.86);
$loading-background: rgba(0, 0, 0, 0.4);
$loading-icon-color: green;

// $navbar-dropdown-border-top: 2px solid #00ffff;

// $navbar-divider-background-color: #00ffff;
